@media screen and (max-width: 1200px){
/*When screen below 1200px switches to hamburger menu */
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 17vh;
    }
}